<div class="container">
  <p class="text-center mt-5" style="font-size: 40px;">Простейший калькулятор написанный на Angular</p>
  <form>
    <p class="text-center mt-5" style="font-size: 20px;">Введите два числа для вычисления:</p>
    <div class="row justify-content-center">
      <div class="col-4">
        <input type="text" #value1 class="form-control m-1" placeholder="Введите первое число"/>
      </div>
      <div class="col-4">
        <input type="text" #value2 class="form-control m-1" placeholder="Введите второе число"/>
      </div>
    </div>
    <p class="text-center mt-5" style="font-size: 20px;">Выберите действие:</p>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-outline-dark m-3" style="width: 50px;" (click)="sum(value1.value, value2.value)">+</button>
      <button type="button" class="btn btn-outline-dark m-3" style="width: 50px;" (click)="diff(value1.value, value2.value)">-</button>
      <button type="button" class="btn btn-outline-dark m-3" style="width: 50px;" (click)="mult(value1.value, value2.value)">*</button>
      <button type="button" class="btn btn-outline-dark m-3" style="width: 50px;" (click)="divide(value1.value, value2.value)">/</button>
    </div>
    <p class="text-center mt-5" style="font-size: 20px;">Результат:</p>
    <p class="text-center mt-5" style="font-size: 20px;">{{ result }}</p>
  </form>
</div>

